body
{
    text-align: center;
}

/* Add Task Button (Red Button) */
#add-btn
{
    position: absolute;
    left: 37vw;
}

/* Task Description Input */
#descriptionField
{
    width: 25.1vw;
}

/* Tasks List Container*/
#list-container
{
    margin: 1.3vw auto;
    text-align: left;
}

/* Tasks List */
ul 
{
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 35vw;
    margin-right: 0;
    padding-left: 0;
    border-bottom: 1px solid grey;
    width: 30%;
}

#list-item:nth-child(even)
{
    background-color: #f9f9f9;
}

/* Task */
li
{
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
}

#task
{
    margin-top: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Task Category Output */
#categoryDisplay
{
    height: 2.2vw;
    width: 6vw;
    text-align: center;
    padding: 0.5vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
}

/* Delete Tasks Button (Black Button) */
#delete-btn
{
    position: absolute;
    left: 53vw;
    top: 9.27vw;
}
